<launch>
  <remap from="/head_manager_output" to="/pr2_head_manager/human_head_monitoring/pr2_head_manager_msgs_Point"/>
  <remap from="/optitrack_input_topic" to="/optitrack/bodies/Helmet_2"/>
  <node name="mocap_filter_human_head" pkg="mocap_filter_head_manager" type="mocap_filter" output="screen"> </node>
</launch>
